.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  align-self: flex-end;
  margin-top: 35px;
  margin-right: 35px;
}

.header span {
  margin-left: 5px;
  vertical-align: middle;
}

.logo {
  margin-top: 55px;
}

.search {
  width: 500px;
  margin-top: 35px;
}

.list {
  width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.list ul {
  list-style: none;
}
